.brand-nav {
  background-color: #fff;
  padding: 0 5%;
  border-top: 1px solid #eee;
  filter: drop-shadow(0 3px 1px #aaa);
  &__list {
    display: flex;
    padding: 15px 0;
    .nav-list {
      padding-right: 10px;
      .nav-link {
        @include linkReset();
        &:hover {
          color: $mainColor;
        }
      }
    }
    .last-list {
      font-weight: bold;
    }
  }
}

.brand-show {
  width: 700px;
  margin: 30px auto;
  &__top {
    @include fontSizeColorBold(20px, $whiteFont);
    height: 50px;
    line-height: 50px;
    background-color: $mainColor;
    padding-left: 20px;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    width: 705px;
    margin: 30px 0;
    .item-list {
      width: 230px;
      margin: 0 5px 5px 0;
      filter: drop-shadow(3px 3px 1px #aaa);
      &:hover {
        opacity: 0.8;
      }
      .item-link {
        @include linkReset;
      }
      &__image {
        width: auto;
        height: 150px;
        background-color: #aaa;
        position: relative;
        overflow: hidden;
        .item-image {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .item-price {
          background-color: rgba(0,0,0,0.4);
          position: absolute;
          left: 0;
          bottom: 5px;
          border-radius: 0 14px 14px 0;
          &__display {
            color: #fff;
            padding: 0 8px;
          }
        }
      }
      &__body {
        background-color: #fff;
        padding: 10px;
        &--name {
          height: 46px;
          overflow: hidden;
        }
      }
    }
  }
}

