.single-container {
  padding: 0 0 220px;
  background-color: #EEEEEE;
  .single-header {
    height: 128px;
    text-align: center;
    line-height: 180px;
    h1 {
      margin: 40px 0 0;
      img {
        height: 49px;
        width: 185px;
    }
  }
} 

  .single-main {
    display: block;
    .l-single-container {
      width: 700px;
      margin: 0 auto;
      background-color: white;
      padding-bottom: 30px;
      .l-single-head.registration {
        font-size: 22px;
        padding: 32px;
        text-align: center;
        font-weight: bold;
      }
      .l-single-content {
        margin: 0 auto;
        max-width: 343px;
        box-sizing: inherit;
        .form-group {
          margin: 24px 0 0;
          label {
            font-weight: 600;
            font-size:14px;
          }
          span {
            background: #ea352d;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
          }
          .input-basic {
            width: 100%;
            margin: 8px 0 0;
            height: 25px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
          h3 {
            font-size: 16px;
            font-weight: bold;
          }
          p {
            margin: 8px 0 0;
            font-size: 14px;
          }
          .birthday-box {
            width: 30%;
            margin: 8px 0 0;
            height: 25px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
          .next-btn {
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
          }
        }
      }
    }
  }
  .single-footer {
    width: 456px;
    height: 220px;
    margin: 0 auto;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 250px;
    padding: 40px 0;
    text-align: center;
    font-size: 14px;
    ul {
      justify-content: center;
      display: flex;
      li {
        margin: 0 0 0 16px;
        font-size: 12px;
        a {
          display: block;
          color: #333;
          text-decoration: none;
   }
  }
}
    .single-footer-logo{
      height: 65px;
      margin: 40px auto 0
    }
  }
}