.productList 
  = link_to item_path(item.id) do
    .productList__img
      = image_tag ""
      - if item.buyer.present? 
        .sold-out
          SOLD

    .productList__body
      %h3.name
        = item.name
      .details
        %ul
          %li
            = item.price
          %li
            %i.linkIcon
            0
        %p
          (税込)