.productList 
  = link_to "#" do
    .productList__img
      - item.images.each do |image|
        = image_tag image.image.url, class: "item-image"
        - if item.buyer.present? 
          .sold-out
            SOLD
        - break

    .productList__body
      %h3.name
        = item.name
      .details
        %ul
          %li
            = item.price
          %li
            %i.linkIcon
            0
        %p
          (税込)