.content
  %h1.content__item-name
    名前
    .content-clearfix
      .content__image
      .item-box
        .item-price
          ¥4000
        .item-free
          円
      .item-table
        
     

    
      
