// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$back_gray:#F2F2F2;
$back_gray_color: #D3D3D3;

@mixin left_side_list {
  padding: 1.5em 1em;
  margin: 0em 0;
  font-weight: bold;
  border: solid 0.1px $back_gray;
}

@mixin inner_height_width($w,$h) {
  width: &w;
  height: &h;
}


.my-page {
    height:170vh;
    background-color: $back_gray;
    position:  absolute;
  &__inner {
    width:auto;
    padding:0 60px;
    margin: 0 180px;
  }
    &__inner--left {
      width: 400px;  
      height:1200px;
      float: left;
      background-color: white;
      }
      .my-mypage {
        @include left_side_list;
        background-color: $back_gray_color;
      }
      .my-announce{
        @include left_side_list;
      }
      .my-to_do{
        @include left_side_list;
      }
      .my-good{
        @include left_side_list;
      }
      .my-create{
        @include left_side_list;
      }
      .my-up_currunt{
        @include left_side_list;
      }
      .my-up_ing{
        @include left_side_list;
      }
      .my-end{
        @include left_side_list;
      }
      .my-buying_item{
        @include left_side_list;
      }
      .my-bought_item{
        @include left_side_list;
      }
      .my-news{
        @include left_side_list;
      }
      .reviw{
        @include left_side_list;
      }
      .guide{
        @include left_side_list;
      }
      .infomation{
        @include left_side_list;
      }
      .merupay{
        @include left_side_list;
        background-color: $back_gray;
      }
      .sales_app{
        @include left_side_list;
      }
      .point{
        @include left_side_list;
      }
    &__under--left{
        background-color: white;
        width: 400px;
        float: left;
      .setting{
        @include left_side_list;
      }
      .profile{
        @include left_side_list;
      }        
      .delivery_address{
        @include left_side_list;
      }
      .method_of_payment{
        @include left_side_list;
      }
      .mail_pass{
        @include left_side_list;
      }
      .identity_infomation{
        @include left_side_list;
      }
      .phone_number_check{
        @include left_side_list;
      }
      .logout{
        @include left_side_list;
      }
      }
    &__inner--right{
      @include inner_height_width(1200px,1200px);
      float: right;
      background-color:#F2F2F2;
      .my-page__inner--right_1{
        width: 1200px;
        height: 350px;
        background: url('https://livedoor.blogimg.jp/jin115/imgs/b/c/bc3f2b2c.jpg');
        }
        .my-page__inner--right_2{
          width: 1200px;
          height: 650px;
          background-color:white;
            }
            .my-page_announcement{
              float: left;
              width: 600px;
              height: 130px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-top: solid red;
            }
            .info{
              font-size: 25px;
            }
            .my-page_to_do{
              float: right;
              width: 600px;
              height: 120px;
              background-color: lightgray;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .to_do{
              font-size: 25px;
              text-align: center;
            }
            .my-page__inner--right_3{
              width: 1200px;
              height: 120px;
              background-color:white;
              margin-top: 4px;
              margin-bottom: 90px;
                }
              .my-page__btn{
                margin: 40px;
                margin-top: -1px;
                background-color:lightgray;
                padding-top: 90 px;
                width: 1100px;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                .btn{
                  text-align: center;
                  font-size: 20px;
          }
        }
      }
      .my-pag__under--left{
        background-color:white;
        width: 400px;
        height: 560px;
      }
      .my-page__under--right{
        background-color: white;
        width: 1200px;
        height: 500px;
        float: right;
        .my-page__under--right_1{
          height: 40px;
          width: 400px;
          padding: 50px;
          font-size: 30px;
        }
        .my-page__under--right_2{
          float: left;
          width: 600px;
          height:100px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-top: solid red;
          .transaction{
            font-size: 30px;
      }
    }
      .my-page__under--right_3{
        float: right;
        background-color: lightgray;
        width: 600px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        .past{
          font-size: 30px;
      }
    }
  }
}