// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my-page {
    height:170vh;
    background-color: #F2F2F2;
    position:  absolute;
  .my-page__inner {
    width:auto;
    padding:0 60px;
    margin: 0 180px;
  }
    .my-page__inner--left {
        width: 400px;
        height:1200px;
        float: left;
        background-color: white;
      }
      .my-mypage {
        padding: 1.5em 1em;
        margin: 0em 0;
        font-weight: bold;
        border: solid 0.1px #F2F2F2;
        background-color:lightgray;
      }
      .my-announce{
        padding: 1.5em 1em;
        margin: 0em 0;
        font-weight: bold;
        border: solid 0.1px #F2F2F2;
      }
      .my-to_do{
        padding: 1.5em 1em;
        margin: 0em 0;
        font-weight: bold;
        border: solid 0.1px #F2F2F2;
      }
      .my-good{
        padding: 1.5em 1em;
        margin: 0em 0;
        font-weight: bold;
        border: solid 0.1px #F2F2F2;
      }
      .my-create{
        padding: 1.5em 1em;
        margin: 0em 0;
        font-weight: bold;
        border: solid 0.1px #F2F2F2;
      }
      .my-up_currunt{
        padding: 1.5em 1em;
        margin: 0em 0;
        font-weight: bold;
        border: solid 0.1px #F2F2F2;
      }
      .my-up_ing{
        padding: 1.5em 1em;
        margin: 0em 0;
        font-weight: bold;
        border: solid 0.1px #F2F2F2;
      }
      .my-end{
        padding: 1.5em 1em;
        margin: 0em 0;
        font-weight: bold;
        border: solid 0.1px#F2F2F2;
      }
      .my-buying_item{
        padding: 1.5em 1em;
        margin: 0em 0;
        font-weight: bold;
        border: solid 0.1px #F2F2F2;
      }
      .my-bought_item{
        padding: 1.5em 1em;
        margin: 0em 0;
        font-weight: bold;
        border: solid 0.1px #F2F2F2;
      }
      .my-news{
        padding: 1.5em 1em;
        margin: 0em 0;
        font-weight: bold;
        border: solid 0.1px #F2F2F2;
      }
      .reviw{
        padding: 1.5em 1em;
        margin: 0em 0;
        font-weight: bold;
        border: solid 0.1px #F2F2F2;
      }
      .guide{
        padding: 1.5em 1em;
        margin: 0em 0;
        font-weight: bold;
        border: solid 0.1px #F2F2F2;
      }
      .infomation{
        padding: 1.5em 1em;
        margin: 0em 0;
        font-weight: bold;
        border: solid 0.1px #F2F2F2;
      }
      .merupay{
        padding: 1.5em 1em;
        margin: 0em 0;
        font-weight: bold;
        border: solid 0.1px #F2F2F2;
        background-color:  #F2F2F2;
      }
      .sales_app{
        padding: 1.5em 1em;
        margin: 0em 0;
        font-weight: bold;
        border: solid 0.1px #F2F2F2;
      }
      .point{
        padding: 1.5em 1em;
        margin: 0em 0;
        font-weight: bold;
        border: solid 0.1px #F2F2F2;
      }
    .my-pag__under--left{
        background-color: white;
        width: 400px;
        height: 900vh;
        float: left;
      .setting{
        padding: 1.5em 1em;
        margin: 0em 0;
        font-weight: bold;
        border: solid 0.1px #F2F2F2;
        background-color:#F2F2F2;
      }
      .profile{
        padding: 1.5em 1em;
        margin: 0em 0;
        font-weight: bold;
        border: solid 0.1px #F2F2F2;
      }        
      .delivery_address{
        padding: 1.5em 1em;
        margin: 0em 0;
        font-weight: bold;
        border: solid 0.1px #F2F2F2;
      }
      .method_of_payment{
        padding: 1.5em 1em;
        margin: 0em 0;
        font-weight: bold;
        border: solid 0.1px #F2F2F2;
      }
      .mail_pass{
        padding: 1.5em 1em;
        margin: 0em 0;
        font-weight: bold;
        border: solid 0.1px #F2F2F2;
      }
      .identity_infomation{
        padding: 1.5em 1em;
        margin: 0em 0;
        font-weight: bold;
        border: solid 0.1px #F2F2F2;
      }        
      .phone_number_check{
        padding: 1.5em 1em;
        margin: 0em 0;
        font-weight: bold;
        border: solid 0.1px #F2F2F2;
      }
      .logout{
        padding: 1.5em 1em;
        margin: 0em 0;
        font-weight: bold;
        border: solid 0.1px #F2F2F2;
      }
      }
    .my-page__inner--right{
      width: 1200px;
      height: 1200px;
      float: right;
      background-color:#F2F2F2;
      .my-page__inner--right_1{
        width: 1200px;
        height: 350px;
        background: url('https://livedoor.blogimg.jp/jin115/imgs/b/c/bc3f2b2c.jpg');
        }
        .my-page__inner--right_2{
          width: 1200px;
          height: 650px;
          background-color:white;
            }
            .my-page_announcement{
              float: left;
              width: 600px;
              height: 130px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-top: solid red;
            }
            .info{
              font-size: 25px;
            }
            .my-page_to_do{
              float: right;
              width: 600px;
              height: 120px;
              background-color: lightgray;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .to_do{
              font-size: 25px;
              text-align: center;
            }
            .my-page__inner--right_3{
              width: 1200px;
              height: 120px;
              background-color:white;
              margin-top: 4px;
              margin-bottom: 90px;
                }
                .my-page__btn{
                  margin: 40px;
                  margin-top: -1px;
                  background-color:lightgray;
                  padding-top: 90 px;
                  width: 1100px;
                  height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                  .btn{
                    text-align: center;
                    font-size: 20px;
          }
        }
      }
      .my-pag__under--left{
        background-color:white;
        width: 400px;
        height: 560px;
      }
      .my-page__under--right{
        background-color: white;
        width: 1200px;
        height: 500px;
        float: right;
      .my-page__under--right_1{
      height: 40px;
      width: 400px;
      padding: 50px;
      font-size: 30px;
      }
      .my-page__under--right_2{
      float: left;
      width: 600px;
      height:100px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: solid red;
      .transaction{
        font-size: 30px;
      }
    }
      .my-page__under--right_3{
      float: right;
      background-color: lightgray;
      width: 600px;
      height: 100px;      
      display: flex;
      justify-content: center;
      align-items: center;      
      .past{
        font-size: 30px;
      }
      }
    }
  }