.content {
  background-color: gray;
  margin: 40px auto 0;
  padding: 24px 16px 55px 16px;
  height: 1000px;
  overflow: scroll;
  width: 70%;
  .content__item-name {
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.4;
    width: 200px;
  }
  .content-clearfix {
    margin: 16px 0 0;
    .content__image{
      position: relative;
      min-width: 280px;
      max-width: 360px;
      min-height: 280px;
      margin: 0 auto;
      border: solid 1px;
      }
    .item-box {
      margin: 24px 0 0;
      text-align: center;
      display: flex;
      .item-price {
        margin: 0 8px 0 0;
        font-size: 32px;
       }
        .item-free {
          display: inline-block;
          font-size: 32px;
        }
    }
    .item-table {
      width: 100%;
      max-width: 360px;
      margin: 8px auto 0;
      border-collapse: collapse;
      border: 1px solid #f5f5f5;
      height: 509px;
    }
  }
  }